main {
    margin-top: -150px;
}

#enlargeImageModal {
    img {
        width: 100%;
    }
}

input,
textarea,
button {
    border-radius:0px !important;
}

.infor {
    .col-md-11:after {
        border-bottom: 1px solid $color1;        
    }
}

.modal-header {
    border-bottom: none;
}