.remove-padding {
    padding: 0px;
}


.navbar-custom {
    background: transparent;
    border: none;

    .navbar-nav {
        margin-left: 35px;
        > li > a {
            font-size: 14px;
            color: #434041;
            text-transform: uppercase;
            >i {
                color: $color2;
            }
        }
    }
}




.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}