$text-font-stack: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$color1: #ffffff !default;
$color2: #e7662d !default;
$color3: #E8923D !default;
$color4: #152A40 !default;

$text-color: #152A40 !default;
$border-radius1: 16px;

.btn-bg-color2 { background: $color2; border-color: $color2} 




