
/* Portrait phones and smaller */
@media (max-width: 480px) {
       .txt {
           margin-left: 0px;
       }

       .logo {
            width: 310px;
       }

       .infor {
           margin-top: 100px;

           > .row > .col-md-11 {
               padding-left: 40px;
           }
       }

       .top{
           background: none;
           height: 18vh;
        }

       
    
}
  
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    #video h1 {
        display: none;
    }
    .header {
        padding-bottom: 50px;
    }

    .active {
        border-bottom: none;
    }

    .btn-login {
        border-radius: 0px;
        text-indent: 10px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: white;
        border-color: transparent;
        margin-top: 30px;
   }

   

}


// /* Large desktops and laptops */
@media (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    
        .navbar-custom {
            background: white;
        }

        .top {
            height: 130px;
        }

        main {
            margin-top: 30px;
        }
    }

// /* Large desktops and laptops */
 @media (max-width: 1200px) and (orientation: landscape) {

    .navbar-custom {
        background: white;
    }
    .navbar-custom .navbar-nav {
        margin-top: 50px;
    }
}
  
  
  
  
  
  
  