.title {
    margin-bottom: 50px;
}

.inforgraphic {
    margin-top: 40px;
}

.contact {
    margin-top: 80px;
    background: $color3;
    padding-top: 30px;
    padding-bottom: 60px;

    h4 {
        font-weight: 600;
        color: $color4;
    }

    h1 {
        color: $color1;
        font-weight: 300;
    }


    .form-center {
        display:block;
        width:70%;
        margin:20px auto 20px auto;
    }
}

.border-left {
    border-left: 1px solid $color1;
}

.content {
    width: 50%;
}

.title-margin-left {
    margin-left: 80px;
}

#video {
    margin-top: 40px;
}

#form-contact {
    input.form-control {
        height: 44px;
    } 

    button {
        margin-top: 30px;
        background: $color4;
        border:none;
        color: $color1;
        padding:10px 30px;
        text-transform: uppercase;
    }
}

.infor {
    i ,
    p ,
    a {
        color: $color1;
    }
    i ,
    p {
        color: $color1;
        font-weight: 300;
        margin-top: 10px;
    }
    
}

.main-bottom {
    background: $color4;
    padding: 5px 10px 20px 5px;

    h3 {
        color: $color1;

        > a {
            color:$color3;
        }
    }
}

.txt {
    margin-left: 50px;
}